{% extends 'partials/base.html' %}
{% block title %}Products Edit Page{% endblock %}

{% block content %}
<div class="row my-4">
    <div class="col-md-6 offset-md-3 p-3 bg-white">
        <h3>Order {{ title }}</h3>
        <hr>
        <table class="table table-borderless">
            <thead class="thead-dark">
            <tr>
                <th scope="row">Price</th>
                <th> <br/> </th>
                <th>Color</th>
                <th> </th>
                <th scope="row">Material</th>
                <th></th>
                <th scope="row">Size</th>
                <th><br /></th>
                <th scope="row">Shape</th>
            </tr>
            </thead>
            <tr>
                <td>{{price}}</td>
                <td> <br/></td>
                <td>{{color}}</td>
                <td><br/></td>
                <td>{{material}}</td>
                <td><br/></td>
                <td>{{size}}</td>
                <td><br/></td>
                <td>{{shape}}</td>
            </tr>
            
        </table>
        <form>
            {% csrf_token %}
            <input type="number" placeholder="Ammount" value="price">
            <input class="btn btn-info" type="submit" value="Make Order">
        </form>
    </div>
    
</div>
<div>
    <table class="table table-borderless">
        <tr>
            <th scope="col">Tax:</th>
            <td />
            <td />
            <td />
            <td>{{Total}}</td>
        </tr>
        <tr>
            <th scope="col">Total:</th>
        </tr>
    </table>
</div>
{% endblock %}