{% extends 'partials/base.html' %}
{% block title %}Source Detail Page{% endblock %}


{% block content %}
{% include 'partials/topside.html' %}
<div class="row my-4">
    <div class="col-md-4">

    </div>
    <div class="col-md-8">
        <div class="card">
            <div class="card-header bg-info text-white">
                Source Detail Page
            </div>
            <div class="row p-3">
                <div class="col-md-8">
                    <table class="table table-borderless">
                        <thead>
                            <span class="h4">Sources/Vendors</span class="h4">
                            <hr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>Name</th>
                                <td>{{ sources.source }}</td>
                            </tr>
                            <tr>
                                <th>Email</th>
                                <td>{{ sources.source_email }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}